@charset "UTF-8";

// Compass imports
@import "compass";
@import "compass/css3/box-shadow";

// Core partials
@import "dev";

// Varibles
$primary-color: #555555;
$dark-blue: #2222ff;

/* main.scss */

body { 
	background-color: #fff;
	color: $primary-color;
	font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin:0;
	font-size: 16px;
}

main {
	width: 100%;
}

/* Pages */

.page {
	min-height: 100vh;
	right: 0px;
}
.pagedisplay {
	position: fixed;
	min-height: 100vh;
	right: 0px;
}
#pagehome {
	z-index: 50;
	background-color: #FFFFFF;
	width: 100vw;
}
#pagemenu {
	background: $dark-blue; /* For browsers that do not support gradients */
    background: linear-gradient(-45deg, #ff00ff, $dark-blue, #00ffff); /* Standard syntax (must be last) */	
	width: 0vw;
	transition: width 2s;
}
#pagework {
	background: $dark-blue; /* For browsers that do not support gradients */
    background: linear-gradient(-45deg, #ff00ff, $dark-blue, #00ffff); /* Standard syntax (must be last) */	
	width: 0vw;
	transition: width 2s;
	box-shadow: -10px 5px 5px #0FF;
}
#pagedev {
	background-color: #8FF;	
	width: 0vw;
	transition: width 2s;
	box-shadow: -10px 5px 5px #0FF;
}
#pageabout {
	background-color: #FFF;
	width: 0vw;
	transition: width 2s;
	box-shadow: -10px 5px 5px #0FF;
}
#pagecontact {
	background-color: #FFF;	
	width: 0vw;
	transition: width 2s;
	box-shadow: -10px 5px 5px #0FF;
}
#pageprojectone {
	background-color: #FFF;	
	width: 0vw;
	transition: width 2s;
	box-shadow: -10px 5px 5px #0FF;
}
.content {
	margin-top: 10px;
}

@media only screen and (max-width: 760px){
	.content {
		margin-top: 30px;
	}
}

header {
	z-index: 100;
	margin-bottom: 50px;
}
.logo {
	margin: 0px;
	margin-top: 30px;
	width:60px;
	height:auto;
	z-index: 100;
}
@media only screen and (max-width: 760px){
.logo {
		
	}
}

/* home */
.logo-home {
	position: relative;
	width:200px;
	height:auto;
	margin: -60px auto 30px auto;
}

/* menu */
menu {
}
.menu-icon {
	position: relative;
	width: 30px;
	height: auto;
	float: right;
	top: 0px;
	margin-top: 30px;
	margin-right: 0px;
	z-index: 100;
}

#pagemenu-bg {

	width: 100vw;
	background: $dark-blue; /* For browsers that do not support gradients */
    background: linear-gradient(-45deg, #ff00ff, $dark-blue, #00ffff); /* Standard syntax (must be last) */	
	transition: width 2s;
}
.nav-link { 
	color:#FFFFFF;
	font-size: 4rem;
	font-weight: 700;
	padding-bottom: 5px;
}



h1 {
	font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}
p { 
	font-size: 16px;
}

a { 
	color: #00AACC; 
	text-decoration: none;
}
a:hover { 
	color: #00DDFF; 
	text-decoration: none;
}
.box-right-half {
	position: fixed;
	top: 0px;
	right: 0px;
	display: block;
	width: 50vw;
	height: 100vh;
	z-index: 70;
}
.img-right-half {
	background-size: auto 100%;
	background-position: center;
}
.img-george-buxton {
	background-image: url("../images/George-Buxton.jpg");
}
.img-sea {
	background-image: url("../images/sea.jpg");
}

@media only screen and (max-width: 760px){
	.box-right-half {
		position: relative;
		width: 100vw;
		height: 200px;
		background-repeat: no-repeat;
	}
	.img-sea {
		background-image: url("../images/sea-1080.jpg");
	}
}
@media only screen and (max-width: 480px){
	.box-right-half {
		height: 40vh;
	}
	.img-sea {
		background-image: url("../images/sea-667.jpg");
	}
}

.btn {
	display: block;
	text-align: center;
	border: 1px solid $primary-color;
	padding: 10px;
	margin-bottom: 10px;
	color: #555555;
}
.btn:hover {
	background: #00FFFF;
}
.btn a {
	color: $primary-color;
}

#contents-list { 
}
.panel{
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index:6;
	background-color: #ff00ff;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background-color: #00ffff;
}

/* work page */
.work-intro-caption { 
	margin: auto 0;
}

.project-link {
	display: block;
	color:#555;
	text-decoration: none;
}
.project-link:hover { 	
	color:#555;
	text-decoration: none;
}
.work-thumb {	
	width: 200px;
	height: auto;
	margin-bottom: 30px;
}

/* project page */
.project-banner {
	background-position: center;
	width: 100vw;
	height: 300px;
}
@media only screen and (max-width: 480px){
	.project-banner {
		height: 130px;
	}
}
.project-banner-img { 
}
.btg-banner {
	background-image: url(../images/work/bfc-banner.jpg);
}
.obizur-banner {
	background-image: url(../images/work/obizur-banner.jpg);
}
.ad-banner {
	background-image: url(../images/work/advert-banner.jpg);
}
.project-col {
	margin-bottom: 50px;
}
.img-border {
	
}
.project-col-overlay {
	margin-bottom: 180px;
	clear: both;
}
.project-web-img { 
	width:100%;
	height: auto;
	box-shadow: 0px 5px 10px #CCCCCC;
}

.project-web-img-2 {
	position: relative;
	width:66%;
	height: auto;
	float: left;
	z-index: 2;
	box-shadow: 0px 5px 10px #CCCCCC;
}
.project-web-img-3 {
	position: absolute;
	width:66%;
	height: auto;
	float: right;
	z-index: 1;
	top:100px;
	right: 0px;
	box-shadow: 0px 5px 10px #CCCCCC;
}

.project-mob-img { 
	width:100%;
	height: auto;
	margin-top: 150px;
	margin-bottom: 20px;
}

.nextproject {
	font-size: 2rem;
	font-weight: 700;
	color: $primary-color;
}
.nextproject-icon { 
	position: absolute;
	height: 24px;
	top:12px;
	right: -15px;
}

/* contact page */
.contact-icons {
	position: relative;
	display:inline-block;
	height: 20px;
	width: 24px;
	top:5px;
	margin-right: 8px;
}
.contact-icon {
	display: block;
	height: 20px;
	width: auto;
	margin: 0 auto;
}

/* contact form */
.form-line {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid $primary-color;
	margin-bottom: 10px;
}
label{ 
	width: auto;
}
input {
	width: auto;
	border: none;
}
textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid $primary-color;
	margin-bottom: 10px;
}
.submit { 
	width: 50%;
	max-width: 180px;
	float: right;
}